{% extends "blog/base.html" %} {% block content %}
<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h3 class="fw-bolder">BIENVENUE AU SITE OFFICIEL ABDOULAYE FAYE!</h3>
            <p class="lead mb-0">Abdoulaye FAYE est un étudiant à l'institut Africain des Sciences Mathémathiques du sénégal (AIMS-SENEGAL).</p>
            <p class="lead mb-0"> Actuellement il est en stage à VOLKENO.</p>
        </div>
    </div>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">10 - 09 -2021</div>
                        <h2 class="card-title">Administrateur du site</h2>
                        <p class="card-text">Vous pouvez contacter Abdoulaye Faye par email : laye9190@gmail.com</p>
                        <a class="btn btn-primary" href="#!">Plus de détails →</a>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{post.publish}}</div>
                                <h2 class="card-title h4">{{post.title}}</h2>
                                <p class="card-text">{{post.body}}</p>
                                <a class="btn btn-primary" href="{% url 'post_detail' post.slug %}">Plus de détails ...</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}


                </div>
                {% include "blog/layouts/pagination.html" with page=posts %}
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Recherche</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Taper la recherche..." aria-label="Taper la recherche..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">OK!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Catégories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">BIG DATA</a></li>
                                    <li><a href="#!">INTELLIGENCE ARTIFICIELLE</a></li>
                                    <li><a href="#!">MARKETING DIGIATAL</a></li>
                                    <li><a href="#!">STAGE/EMPLOI</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Personnel</a></li>
                                    <li><a href="#!">Parcours</a></li>
                                    <li><a href="#!">Superviseurs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Widget latéral </div>
                    <div class="card-body">Vous pouvez mettre tout ce que vous voulez dans ces widgets latéraux! </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}